# vscode
.vscode/

# Database
db.sqlite3

# __pycache__
core/__pycache__/
auth_app/__pycache__/
auth_app/api/__pycache__/
auth_app/migrations/__pycache__/
kanban_app/__pycache__/
kanban_app/api/__pycache__/
kanban_app/migrations/__pycache__/

# Python virtual environments
env/
venv/
.env/